.App {
  text-align: center;
}

.App-logo {
  margin-right: 3px;
  width: 96px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 15vh;
  margin: 20px;
  justify-content: center;
  align-items : center;
  flex-direction: column;
  display: block;
  white-space: nowrap;
}

.UpperBanner-divLeft{
  width: 50%;
  text-align: left;
  float: left;
  position: relative;
}

.UpperBanner-h1 {
  font-size: calc(30px + 2vmin);
  color: 	#F6CF57;
  position: relative;
  display: inline;
  top: -3vh;
}

.UpperBanner-divRight{
  width: 50%;
  text-align: center;
  float: left;
  position: relative;
  top: 40px
}

.UpperBanner-selectedbutton {
  margin-left: 10px;
  padding: 3% 5%;
  font-weight: 700;
  border-radius: 10px;
}

.UpperBanner-nonselectedbutton {
  margin-left: 10px;
  padding: 3% 5%;
  border-radius: 10px;
}

.ContentAbout-p{
  text-align: left;
  margin: 10px;
}

.ContentArea{
  display: block;
  justify-content: center;
  /* padding:10px; */
  padding-left: 5vmin;
  padding-right: 5vmin;
}

.ContentHome-buttonDiv {
  width: 100%;
  min-height: 15vh;
  margin-top: 10px;
  /* margin: 20px; */
  justify-content: center;
  align-items : center;
  text-align: center;
  flex-direction: column;
  display: block;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  white-space: nowrap;
}

.ContentHome-leftButton {
  text-align: left;
  width: 33%;
  float: left;
  position: relative;
}

.ContentHome-centerText {
  width: 33%;
  text-align: center;
  float: left;
  position: relative;
}

.ContentHome-rightButton {
  width: 33%;
  text-align: right;
  float: left;
  position: relative;
}

.ContentHome-buttons {
  width: 100px;
  height: 70px;
  font-size: large;
  border-radius: 10px;
  border-width: medium;
  text-align: center;
}

.left{
  margin-right: 10px;
}

.right{
  margin-left: 10px;
}

.ContentHome-thumbnailArea{
  width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  position: relative;
  grid-gap: 5px;
  /* gap: 15px; */
  justify-content: center;
}
.ContentHome-pokemonThumbnail{
  /* width: 100%; */
  height: 110px;
  margin:5px;
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
  border:none;
  box-sizing: border-box;
}

.thumbnailBtn{
  width:100%;
}
.thumbnailImgDiv{
  justify-content: right;
  align-items: right;
  text-align: right;
}

.ContentHome-thumbnailText{
  text-align: left;
  font-size: 12px;
  width: inherit*0.7;
}

.PokemonThumbnail-name{
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700
}

.PokemonThumbnail-name:first-letter {
  text-transform: uppercase
}

.PokemonThumbnail-img{
  width: 100%;
}

.type-normal{
  background-color: #cecece;
}
.type-fire{
  background-color: #F5AC78;
}
.type-water{
  background-color: #9DB7F5;
}
.type-electric{
  background-color: #FAE078;
}
.type-grass{
  background-color: #A7DB8D;
}
.type-ice{
  background-color: #BCE6E6;
}
.type-fighting{
  background-color: #D67873;
}
.type-poison{
  background-color: #C183C1;
}
.type-ground{
  background-color: #EBD69D;
}
.type-flying{
  background-color: #C6B7F5;
}
.type-psychic{
  background-color: #FA92B2;
}
.type-bug{
  background-color: #C6D16E;
}
.type-rock{
  background-color: #D1C17D;
}
.type-ghost{
  background-color: #A292BC;
}
.type-dragon{
  background-color: #A27DFA;
}
.type-dark{
  background-color: #A29288;
}
.type-steel{
  background-color: #D1D1E0;
}
.type-fairy{
  background-color: #F4BDC9;
}

.App-link {
  color: #61dafb;
}

.PokemonDetail-container{
  display: flex;
  justify-content: center;
  /* padding:10px; */
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  
}
.PokemonDetail-backDiv{
  text-align: left;
  margin: 15px;
  margin-top: 15px;
  font-size: large;
  padding-left: 30px;
}
.PokemonDetail-back{
  text-decoration: none;
  color: black;
  
}

.PokemonDetail-card{
  width: 70%;
  border-radius: 10px;
  color: #000000b0;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-evenly;
  /* margin: 15px; */
  min-width: 750px;
  /* padding: 30px 0; */
  text-decoration: none;
  overflow: hidden;
}
.PokemonDetail-divLeft{
  justify-content: center;
  align-items: center;
  margin:30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  background-color: white;
}
.PokemonDetail-divRight{
  width: 50%;
  padding-left: 20px;
  text-align: left;
}

.PokemonDetail-img{
  width: 80%;
}

.PokemonDetail-type{
  width: 80%;
  border-radius: 10px;
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border:none;
}

.Status {
  text-transform: capitalize;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
